body {
    color: $color-text;
    background-color: $color-bg;
    font-family: $text-font-family;
    // font-weight: 600;
    font-size: 16px;
    padding: 10px;
}

@supports (background-blend-mode: multiply) {
    body {
        background-image: 
            url("/theme/images/subtle_grunge.png");
        background-repeat: repeat;
        background-blend-mode: multiply;
    }
}

header {
    margin-bottom: 80px;

    .socials {
        display: none;
    }

    svg {
        stroke: $color-primary;
        fill: none;
    }
}


nav {
    font-family: $heading-font-family;
    margin: 20px 0 0;
    color: $color-primary;
    font-size: 1.2em;
    float: left; //keeps out of the way of socials

    a {
        margin-right: 20px;
        font-weight: bold;
    }

    a:hover {
        color: lighten($color-primary, 10%);
    }

    a:active {
        color: darken($color-primary, 10%);
    }

    a.current {
        text-decoration: underline;
    }

    .site-name {
        font-size: 1.5em;
    }

    .categories {
        padding: 10px 0 20px;
        display: inline-block;
    }
}

footer {
    width: 100%;
    float: left;
    text-align: center;
    color: darken($color-text, 35%);

    a, a:visited, a:active {
        // text-decoration: underline;
        color: $color-primary;
    }

    .socials {
        float: none;
    }
}


// These are for the home page listing, and might not want to be default
h1 {
    color: $color-primary;
    font-family: $heading-font-family;
}

h2 {
    color: $color-secondary;
    font-family: $heading-font-family;
}

h3 {
    color: $color-secondary;
    font-family: $text-font-family;
    font-weight: normal;
}


p {
    line-height: 1.5em;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: inherit;
}

blockquote {
    margin-bottom: 40px;
}

table {
    margin: 40px auto 0;
}

tr {
    line-height: 1.2em;
}

td {
    display: block;
    width: 100%;
    vertical-align: top;
    padding: 5px 2% 10px;
    text-align: center;

    a {
        font-size: 0.9em;
    }
}

td:first-child {
    text-align: center;
    vertical-align: top;
    margin-bottom: 0;
    padding-bottom: 0;
    font-style: italic;
    line-height: 1em;
    margin-top: 10px;
    font-size: 0.9em;
    vertical-align: top;
    // color: darken($color-text, 40%);
    // color: $color-secondary;
    // font-style: italic;
}

// strong {
//     font-weight: normal;
//     color: $color-primary;
// }

div.content {
    max-width: 900px;
    margin: auto;

    article {
        margin: 0 10px 20px;
    }
}

.link-list {
    color: $color-link;
}

article {
    max-width: 900px;
    margin: 0 auto;

    //// same as list items on archive, could dry out
    border: 1px solid darken($color-primary, 30%);
    border-radius: $border-radius;
    background-color: $color-bg;

    header {
        margin: 0 0 20px;

        img {
            width: 100%;
            border-radius: $border-radius $border-radius 0 0;
            height: 240px;
            object-fit: cover;
            object-position: 50% 50%; 
        }

        ul {
            margin: 0 40px;
            padding: 0;
            font-size: .9em;
            color: darken($color-text, 35%);
        }

        li {
            display: inline;
        }

        p {
            margin: 0 40px;
            
/*            a, a:visited {
                color: $color-secondary;
            }*/
        }
    }

    h1 {
        display: block;
        margin: 30px 40px 0;
    }

    time {
        color: darken($color-text, 35%);
        float: right;
        margin-right: 40px;
    }

    img {
        max-width: 100%;
        height: initial;
    }

    iframe {
        width: 900px;
        height: 460px;
        display: block;
        margin: 40px auto;
        /*border-radius: $border-radius;*/
        max-width: 100%;
    }

    ul, ol {
        line-height: 2em;
    }

    aside {
        float: left;
        // text-align: right;

        li {
            margin: 10px 0;
        }
    }
}

.article-body {
    margin: 0 0 40px;
    overflow: hidden;

    p {
        margin-right: 10px;
        margin-left: 10px;
        line-height: 2em;
    }

    //// Books post specific formatting
    //// Alternating version relies on even/odd counting and
    //// will break as soon as I accidentally add a markdown <p> tag.
    //// Also looks kinda messy. Do not recommend
    h2 {
        clear: both;
    }

    // h2:nth-child(even) {
    //     text-align: right;
    //     clear: left;
    // }

    // p:nth-child(2n+3) {
    //     text-align: right;
    // }

    // p:nth-child(2n+0) {

    //     img {
    //         float: left;
    //     }
    // }
}


.words {
    background-color: #dadada;
    font-family: $long-text-font-family;

    h1, nav{
        color: darken($color-primary, 30%);
    }

    nav a:hover {
        color: darken($color-primary, 20%);
    }

    .link-list {
        color: $color-link-light;
    }

    time {
        color: #6a6a6a;
    }

    article {
        background-color: #eee;
        color: #000;

        a, a:visited { /* contained to not affect header nav */
            color: $color-link-light;
        }
        a:hover {
            color: darken($color-link-light, 10%);
        }

    }


    h2, h3 {
        // color: #37a0b2;
        color: #147386;
        margin: 40px 0 0;
    }


    ul.archive li {
        a {
            background-color: #ddd;
        }

        a:hover {
            background-color: #e8e8e8;
        }

        time { /* matching .words time */
            color: #6a6a6a;
        }

    }


    .article-body {
        img {
            // max-height: 200px;
            max-width: 100%;
            height: auto;
            margin: 20px auto 40px;
            // float: left;
            clear: both;

            -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        }

        figure {
            max-width: 100%;
            margin: 20px auto 40px;

            img {
                margin: 0;
            }
        }

        figcaption {
            margin: 5px;
            color: #444;
            font-style: italic;
        }

    }


    footer {
        color: #444;
    }

}


main {
    width: 100%;
    float: left;

    a, a:visited, a:active {
    color: $color-link;
}

}

.socials {
    list-style-type: none;
    float: right;
    padding: 0;
    color: #777;

    li {
        display: inline;
        margin: 0 5px;
    }

    svg {
        height: 30px;
        width: auto;
        max-width: 40px;
        fill: #666;
        stroke: none;
    }

    svg:hover {
        fill: #888;
    }

/*    img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }*/
}


aside {

    h2 {
        color: $color-primary;
        margin: 20px 0 0 20px;
    }

    h3 {
        margin: 0;
    }

    div {
        border: 1px solid;
        border-color: darken($color-secondary, 30%);
        margin: 10px;
        border-radius: $border-radius;
        background-color: $color-bg;
    }

    ul {
        list-style-type: none;
        padding: 0 20px;
    }

    li {
        margin: 10px 0;
    }

    time {
        color: darken($color-text, 35%);
        font-size: 0.8em;
    }
}



ul.archive {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: inline-block;
    width: 100%;

    li.words-dark {
        border-color: #666;
    }

    li {
        will-change: opacity; //// fix for chrome blend-mode bug https://stackoverflow.com/a/38466053
        border: 1px solid;
        // border-color: $color-primary darken($color-primary, 50%) darken($color-primary, 60%) darken($color-primary, 40%);
        
        //// solid
        border-color: darken($color-primary, 30%);

        //// inset bevel
        // border-color: darken($color-bg, 20%) darken($color-bg, 10%) lighten($color-bg, 10%) darken($color-bg, 10%);
        
        //// outset bevel
        // border-color: lighten($color-bg, 10%) darken($color-bg, 10%) darken($color-bg, 20%) darken($color-bg, 10%);
        
        margin: 10px;
        border-radius: $border-radius;

        //// drop shadow
        // -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
        // -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
        // box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);

        //// inset shadow
        // -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);
        // -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);
        // box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);

        background-image: none;

        a {
            border-radius: $border-radius;
            // padding: 10px;
            background-color: $color-bg;
            display: block;
            width: inherit;
            height: 100%;
            transition: background-color 0.2s;

        }

        a:hover {
            background-color: lighten($color-bg, 1%);
            
            // -webkit-box-shadow: 0px 0px 5px 3px darken($color-primary, 30%);
            // -moz-box-shadow: 0px 0px 5px 3px darken($color-primary, 30%);
            // box-shadow: 0px 0px 5px 3px darken($color-primary, 30%);

            // img {
            //     opacity: 0.8;
            // }

            .hover {
                opacity: 1;
            }
        }


        .thumb {
            position: relative;
            width: 100%;
            border-radius: $border-radius $border-radius 0 0;
            height: 150px;
            object-fit: cover;
            object-position: 50% 20%; 
        }

        img {
            position: absolute;
            width: 100%;
            border-radius: $border-radius $border-radius 0 0;
            height: 150px;
            object-fit: cover;
            object-position: 50% 20%; 
        }

        img.hover {
            opacity: 0;
            filter: contrast(1.1) brightness(1.1);
            transition: opacity 0.2s;
        }

        @supports (mix-blend-mode: screen) {
            img.hover {
                mix-blend-mode: screen;
                filter: contrast(3) brightness(.5) blur(2px) grayscale(0.5);
            }
        }

        h2 {
            padding: 20px 10px;
            margin: 0;
        }

        time {
            color: darken($color-text, 35%);
            float: right;
            margin: 5px 10px 0 0;
            font-size: 0.8em;
        }

        p {
            margin: 0;
            padding: 10px;
        }
    }
}

.external-link {
    display: block;
    width: fit-content;
    max-width: 100%;
    margin: 20px auto 40px;
    border: 1px solid $color-primary;
    border-left: 0;
    border-right: 0;
    font-size: 1.1em;

    strong {
        float: left;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.external-link:hover {
    background-color: lighten($color-bg, 3%);
    transition: background-color 0.2s;

    img {
        filter: brightness(1.1) blur(1px);
        transition: filter 0.2s;

    }
}

.inline-link-icon {
    display: inline;
    height: 25px;
    width: auto;
    margin: 0 10px;
    fill: $color-link;
    stroke: none;

}
