
@charset "utf-8";


$color-text: #fff;
$color-bg: #222;
$color-primary: #ff3391;
$color-secondary: #33d6f2;
$color-link: darken($color-text, 35%);
$color-link-light: #0a94c4;


$border-radius: 5px;


/*
// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// Sen
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

// Emilys Candy
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

// 'Share Tech Mono', monospace
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

// 'Jura', sans-serif 
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

// 'Nanum Gothic Coding', monospace;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

// 'IBM Plex Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

// 'Quicksand', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

// 'Courier Prime', monospace;
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
*/
// 'Saira Semi Condensed', sans-serif;
// @import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100&display=swap');

@font-face {
  font-family: "Saira Semi Condensed";
  src: url("/theme/fonts/SairaSemiCondensed-Thin.woff2") format("woff2"),
    url("/theme/fonts/SairaSemiCondensed-Thin.ttf") format("truetype"),
    url("/theme/fonts/SairaSemiCondensed-Thin.eot") format("embedded-opentype");
}


@font-face {
  font-family: "Open Sans";
  src: url("/theme/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/theme/fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/theme/fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/theme/fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/theme/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/theme/fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/theme/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: lighter; // used for font-weight 300
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/theme/fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: lighter; // used for font-weight 300
  font-style: italic;
}





@font-face {
  font-family: "Lato";
  src: url("/theme/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/theme/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/theme/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/theme/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

// @font-face {
//   font-family: "Lato";
//   src: url("/theme/fonts/Lato-Black.ttf") format("truetype");
//   font-weight: bolder;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Lato";
//   src: url("/theme/fonts/Lato-BlackItalic.ttf") format("truetype");
//   font-weight: bolder;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Lato";
//   src: url("/theme/fonts/Lato-Light.ttf") format("truetype");
//   font-weight: lighter; // used for font-weight 300
//   font-style: normal;
// }

// @font-face {
//   font-family: "Lato";
//   src: url("/theme/fonts/Lato-LightItalic.ttf") format("truetype");
//   font-weight: lighter; // used for font-weight 300
//   font-style: italic;
// }




// 'Open Sans', sans-serif;
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$heading-font-family: 'Saira Semi Condensed', sans-serif;
$text-font-family: 'Open Sans', sans-serif;
$long-text-font-family: 'Lato', sans-serif;

@import "normalize";
@import "base";
@import "timamp";
//  @import "title_over_image";

@media only screen and (min-width: 500px) {
    @import "medium";
}

@media only screen and (min-width: 900px) {
    @import "large";
}

@import "perldoc";

@import "photo_macros"

