body {
    background-image: /* not shown in small because it overlaps footer */
        url("/theme/images/tim_site_bg_left.svg"), 
        url("/theme/images/tim_site_bg_right.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left 100px, right 100px, left top;
}

@supports (background-blend-mode: multiply) {
    body {
        background-image: 
            url("/theme/images/tim_site_bg_left.svg"), 
            url("/theme/images/tim_site_bg_right.svg"),
            url("/theme/images/subtle_grunge.png");
        background-repeat: no-repeat, no-repeat, repeat;
        background-blend-mode: normal, normal, multiply;
    }
}


//// For home page archive, might not want to be default
ul.archive {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

.article-body {
    margin: 20px 40px 60px;
}


.words .article-body {
    max-width: 700px;
    margin: 20px auto 60px;
}

td {
    display: table-cell;
    text-align: left;
    width: 50%;
    padding: 15px 2%;
}

td:first-child {
    text-align: right;
    font-size: 1em;
    font-style: normal;
}

.external-link {
    border: 1px solid $color-primary;
    border-radius: $border-radius;

    img {
        border-radius: $border-radius $border-radius 0 0;
    }
}