p {
	margin-top: 20px;
	clear: left;
}

.two-image, .three-image, .three-image-stack, .misc-images {
	display: inline-block;
	width: 100%;
	margin: 20px 0;
}

.two-image img, .two-image div {
	width: 50%;
	float: left;
}
.three-image img, .three-image-stack img {
	width: 33%;
	float: left;
}

.misc-images img, .image-stack {
	display: block;
	width: 25%;
	float: left;
}

.image-stack img {
	display: block;
	width: 100%;
}

/*div.vbox-container {
	padding: 0;
}*/

@media only screen and (max-width: 500px) {
	.two-image img, .two-image div{
		width: 100%;
		margin-top: 10px;
	}

	.image-stack {
		width: 50%;
	}

	.three-image-stack img {
		width: 50%;
		margin-top: 10px;
	}

	.three-image-stack a:last-child img {
		width: 100%;
		margin-top: 10px;
	}

	div.vbox-content {
		padding: 0;
	}

	a.vbox-next, a.vbox-prev {
		display: none;
	}

}