.timamp {
    position: relative;
    max-width: 900px;
    margin: 0 auto;

    border: 1px solid darken($color-primary, 30%);
    border-radius: $border-radius;
    background-color: $color-bg;


    h1, h2 {
        margin: 5px 0 0;
    }

    .title {
        position: absolute;
        top: 0;
        left: 32%;
    }

    .cover {
        position: absolute;
        width: 30%;
        border-radius: $border-radius 0 $border-radius 0;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: darken($color-primary, 30%);
    }

    .timeline {
        position: relative;
        float: right;
        top: 0;
        right: 0;
        width: 70%;
        overflow: clip;

        img {
            margin-left: 1px;
            width: 100%;
            height: auto;
            min-height: 150px;
            border-radius: 0 $border-radius 0 0;
            cursor: pointer;
        }
    }

    .timeline-progress {
        position: absolute;
        top: 0;
        left: 1px;
        visibility: hidden; /* overwridden by @supports test */
        mix-blend-mode: screen;
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px) brightness(3);
        cursor: pointer;
        background-color: black;
    
    }

    .timeline-progress-overlay {
        // visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 100%;
        mix-blend-mode: multiply;

        background: rgb(51,51,51);
        background: -moz-linear-gradient(90deg, rgba(51,51,51,1) 60%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(51,51,51,1) 60%, rgba(255,255,255,1) 100%);
        background: linear-gradient(90deg, rgba(51,51,51,1) 60%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#ffffff",GradientType=1); 
    }

    .timeline-unprogress-overlay {
        // visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0%;
        border-left: 1px solid white;
        background-color: rgba(0, 0, 0, .5);
    }



    .progress-bar {
        width: 100%;
        height: 2px;
        margin-left: 1px;
        background-color: #666;
    }

    .progress-filled {
        width: 0%;
        height: 100%;
        background-color: $color-secondary;
    }

    #loading {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        opacity: 0.5;
    }

    .hidden {
        visibility: hidden;
    }

    .controls {

        margin: 5px 0 0;

        button {
            display: block;
            float: left;
            background-color: inherit;
            border: none;
            margin: 10px 0 0 5%;
        }

        button:focus {
            svg {
                fill: #999;
            }
        }

        svg {
            height: 30px;
            width: 50px; // auto doesn't work on IE
            fill: #888;
            stroke: none;
            cursor: pointer;
        }

        svg:hover {
            fill: #aaa
        }


        .play-stop-container {
            margin: 0 0 0 5%;
            height: 50px;
            width: 60px;
            position: relative;
            float: left;
        }

        .play, .stop {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 0;
            svg {
                height: 50px;
            }
        }

        .stop {
            margin-top: 3px;
            visibility: hidden;
            svg {
                height: 44px;
            }
        }
    }

    .now-playing::after { /* clearfix */
        content: "";
        clear: both;
        display: table;
    }

    ul.download {
        margin: 5px 10px;
        float: right;
        color: #aaa;
        list-style: none;
        font-size: 0.9em;

        li {
            display: inline;
            margin: 0 5px;
        }
    }

    ul {
        margin: 20px 0 0;
        padding: 0;

        h1, h2 {
            margin: 0;
            position: inherit;
            display: inline;
            font-size: 1.1em;
        }

        h2 {
            float: right;
            font-size: 0.9em;
            font-family: $text-font-family;
            font-weight: normal;
        }

        img {
            display: none;
        }

        audio {
            display: none;
        }
    }

    li.song {
        line-height: 1.5em;
        display: block;
        padding: 5px;
        list-style: none;
        border-bottom: 1px solid #666;
        cursor: pointer;
    }

    li.active, li.active:hover {
        background-color: #333;
    }

    li:last-child {
        border-bottom: none;
        border-radius: 0 0 $border-radius $border-radius;
    }

    li:hover {
        background-color: #282828;
    }

}

@supports (clip-path: inset(0 100% 0 0)) {
    .timamp .timeline-progress {
        visibility: visible;
        clip-path: inset(0 100% 0 0);
    }
}

