{% extends "base.html" %}
{% block content %}
<article class="post {{ category }}" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if article.image %}<img src="{{ article.image }}" alt="{{ article.image_alt }}">{% endif %}
    <time datetime="{{ article.date.isoformat() }}">
      {{ article.date.strftime('%b. %-d, %Y') }}
    </time>

    <h1 class="post-title" itemprop="name headline">
      {{ article.title }}
    </h1>

    {% if article.tags | length > 0 %}
    <p><small>In</small>
      <span class="link-list">
      {% set comma = joiner(", ") %}
      {% for tag in article.tags %}
        {% for page in pages if page.category | string() == tag | string() %}{{ comma() }}
          <a href="{{ SITEURL }}/{{ page.slug }}" title="{{ page.summary | striptags}}">{{ page.title }}</a>
        {%- endfor -%}
      {% endfor %}
      </span>
    </p>
    {% endif %} 

  </header>

  <div class="article-body" itemprop="articleBody">
    {{ article.content }}
  </div>

</article>
{% endblock content %}