<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}
      {% if article is defined %}
        {{ article.title }} | 
      {% endif %}
      {{ SITENAME }}
    {% endblock title %}
  </title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="theme-color" content="#222222">

  <meta property="og:title" content="{% if article is defined and article.title %} {{ article.title }} | {% endif %}{{ SITENAME }}">

  {% if article is defined and article.summary %}
    <meta name="description" content="{{ article.summary | striptags | e }}">
    <meta property="og:description" content="{{ article.summary | striptags | e }}">
  {% endif %}

  {% if article is defined and article.thumb %}
    <meta property="og:image" content="{{ SITEURL }}/{{ article.thumb }}">
  {% endif %}



  {% assets filters="libsass", output="style.min.css", depends="sass/*.scss", "sass/main.scss" %}
    <link rel="stylesheet" href="{{SITEURL}}/{{ASSET_URL}}">
  {% endassets %}
</head>
<body {% if article is defined and article.category == "words" or page is defined and page.category == "words" %} class="words" {% endif %}>
    <header>
      <nav>
        <span class="site-name"><a href="/">{{ SITENAME }}</a></span>
        <div class="categories">
          {% if page_name and "index" == page_name %}
            <a href="/" class="current">Things</a>
          {% else %}
            <a href="/">Things</a>
          {% endif %}


    <!-- Add project/category links to nav bar -->
           {% for page in pages if page.title in ['Music', 'Words'] %}
            {% if page.url in output_file %}
              <a class="current" href="{{SITEURL}}/{{ page.url }}" title="{{ page.summary | striptags }}">{{ page.title  | striptags }}</a>
            {% else %}
              <a href="{{SITEURL}}/{{ page.url }}" title="{{ page.summary | striptags }}">{{ page.title  | striptags }}</a>
            {% endif %}
          {% endfor %}
        </div>


      </nav>
      {% include 'social_links.html' %}
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
      {% include 'social_links.html' %}

      <p>
        &#169; {{ AUTHOR }} 2024. This site uses no cookies :)<br>
        Made with 
        <a href="https://getpelican.com/">Pelican</a> using 
        <a href="https://gitlab.com/timburbank/tim_site5">tim_site5</a> theme
      </p>
    </footer>
</body>
</html>