{% extends "base.html" %}
{% block content %}

<ul class="archive">
{% for article in articles_page.object_list %}
  <li {% if article.category == 'words' %} class="words-dark" {% endif %}>
    <a href="{{ SITEURL }}/{{ article.url }}">
      {% if article.thumb %}
        <div class="thumb">
          <img src="{{ article.thumb }}">
          <img src="{{ article.thumb }}" class="hover" aria-hidden="true">
        </div>
      {% endif %}
      <time datetime="{{ article.date.isoformat() }}"> 
        {{ article.date.strftime('%b. %-d, %Y') }} 
      </time>
      <h2>
          {{ article.title | striptags }}
      </h2>
    </a>
  </li>
{% endfor %}
</ul>
{% endblock content %}