{% extends "base.html" %}
{% block content %}

<div>
<!--   <h1 class="post-title" itemprop="name headline">
    {{ page.title }}
  </h1> -->
  <div>
    {{ page.content }}
  </div>
  <ul class="archive associations">
  {% for article in articles if page.category | string() in article.tags %}
    <li {% if article.category == 'words' %} class="words-dark" {% endif %}>
      <a href="{{ SITEURL }}/{{ article.url }}">
        {% if article.thumb %}
          <div class="thumb">
            <img src="{{ article.thumb }}">
            <img src="{{ article.thumb }}" class="hover" aria-hidden="true">
          </div>
        {% endif %}
        <time datetime="{{ article.date.isoformat() }}"> 
          {{ article.date.strftime('%b. %-d, %Y') }} 
        </time>
        <h2>
            {{ article.title | striptags }}
        </h2>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

{% endblock content %}