<ul class="socials">
      {% for social_link in SOCIAL %}
        {% if 'twitter.com' in social_link[1] %}
          <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_twitter.svg' %}
            </a>
          </li>
        {% elif 'instagram.com' in social_link[1] %}
         <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_instagram.svg' %}
            </a>
          </li>
        {% elif 'youtube.com' in social_link[1] %}
         <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_youtube.svg' %}
            </a>
          </li>
        {% elif 'gitlab.com' in social_link[1] %}
         <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_gitlab.svg' %}
            </a>
          </li>
        {% elif 'github.com' in social_link[1] %}
         <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_github.svg' %}
            </a>
          </li>
        {% elif 'facebook.com' in social_link[1] %}
         <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_facebook.svg' %}
            </a>
          </li>
        {% elif 'soundcloud.com' in social_link[1] %}
         <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_soundcloud.svg' %}
            </a>
          </li>
        {% elif 'linkedin.com' in social_link[1] %}
         <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_linkedin.svg' %}
            </a>
          </li>
        {% elif 'twitch.tv' in social_link[1] %}
         <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_twitch.svg' %}
            </a>
          </li>
        {% elif 'Mastodon' in social_link[0] %} {# Can't match URL for Mastodon sites #}
         <li>
            <a rel="me" href="{{ social_link[1] }}">
              {% include 'icon_mastodon.svg' %}
            </a>
          </li>
        {% elif '.xml' in social_link[1] %}
         <li>
            <a href="{{ social_link[1] }}">
              {% include 'icon_feed.svg' %}
            </a>
          </li>
        {% else %}
          <li><a href="{{ social_link[1] }}">{{ social_link[0] }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>