{% extends "base.html" %}
{% block content %}
<div class="timamp">
<div id="now-playing" class="now-playing">
	<div class="timeline">
		<img id="timeline-control" width="651" height="231" src="">
		<div id="timeline-progress" class="timeline-progress">
			<img width="651" height="231" src="">
			<div id="timeline-progress-overlay" class="timeline-progress-overlay"></div>
			<div id="timeline-unprogress-overlay" class="timeline-unprogress-overlay"></div>
		</div>
		<div class="progress-bar">
			<div id="progress-filled" class="progress-filled"></div>
		</div>
		<div class="controls">
			<button type="button" id="prev-button">{% include 'timamp/button_prev.svg' %}</button>
			<div class="play-stop-container">
				<button type="button" id="play" class="play">{% include 'timamp/button_play.svg' %}</button>
				<button type="button" id="pause" class="stop">{% include 'timamp/button_pause.svg' %}</button>
			</div>
			<button type="button" id="next-button">{% include 'timamp/button_next.svg' %}</button>
		</div>
		<ul id="download" class="download"></ul>
	</div>
	<img id="now-playing-cover" class="cover" src="">
	<div class="title">
		<h1>No Song</h1>
		<h2>Unknown Artist</h2>
	</div>
	<img id="loading" class="hidden" src="{{ SITEURL }}/theme/images/loading.svg">
</div>
<ul>
	<li class="song active">
		<h1>The Dawn Will Come (aka pitch roll and heave)</h1>
		<h2>The Robot's Heart</h2>
		<img class="cover" src="{{ SITEURL }}/theme/music/dawn_will_come_cover.jpg">
		<img class="timeline" src="{{ SITEURL }}/theme/music/dawn_will_come28.png">
		<a href="{{ SITEURL }}/theme/music/dawn_will_come28.ogg"></a>
		<a href="{{ SITEURL }}/theme/music/dawn_will_come28.mp3"></a>
	</li>
	<li class="song">
		<h1>Andraste's Mabari</h1>
		<h2>The Robot's Heart</h2>
		<img class="cover" src="{{ SITEURL }}/theme/music/andrastes_mabari_cover.jpg">
		<img class="timeline" src="{{ SITEURL }}/theme/music/andrastes_mabari09.png">
			<a href="{{ SITEURL }}/theme/music/andrastes_mabari09.ogg"></a>
			<a href="{{ SITEURL }}/theme/music/andrastes_mabari09.mp3"></a>
	</li>
	<li class="song">
		<h1>Reignite</h1>
		<h2>The Robot's Heart</h2>
		<img class="cover" src="{{ SITEURL }}/theme/music/reignite_cover.jpg">
		<img class="timeline" src="{{ SITEURL }}/theme/music/reignite_final07.png">
		<a href="{{ SITEURL }}/theme/music/reignite_final07.ogg"></a>
		<a href="{{ SITEURL }}/theme/music/reignite_final07.mp3"></a>
	</li>
</ul>
</div>

<script src="/theme/js/howler.core.min.js"></script>
<script type="text/javascript" src="/theme/js/timamp_howler.js"></script>

{% endblock content %}